# Dataset playground

1. Init and import dependencies

In [1]:
import pandas as pd

from lib.data.kaggle import unzip_file

from src.definitions import EXTERNAL_DATA_FOLDER

2. Unzip dataset

In [2]:
ds_path = unzip_file(EXTERNAL_DATA_FOLDER / "playground-series-s4e10.zip")

3. Create Pandas data frame

In [5]:
df = pd.read_csv(ds_path / "train.csv", index_col="id")

df.head(5)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
id,,,,,,,,,,,,
0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0